.idea/
.venv/
__pycache__/
*.pyc

/LeNet/data
/AlexNet/data
/VGG/data
/NiN/data
/GoogLeNet/data
/Batch Normalization/data
/ResNet/data
/Classify Leaves/data
/Multi-GPU Training/data
/Image Augmentation/data